@import "~src/styles/base";

.album__container {
  @extend .container;
  display: grid;
  grid-template:
    " cover owner" auto
    " cover title" minmax(100px, 1fr)
    / 150px minmax(0, 1fr);
}
.album__owner {
  @extend .title__main;
  grid-area: owner;
}
.album__title {
  grid-area: title;
  align-self: center;
}
.album__cover {
  grid-area: cover;
  object-fit: cover;
}
.album__link {
  text-decoration: none;
  color: black;
}
