@import "~src/styles/base";
.photo__button {
  min-width: 100%;
  background: none;
  border: none;
}
.photo__button:active,
.photo__button:focus {
  outline: none;
}
.photo__container {
  @extend .container;
  display: grid;
  grid-template:
    " thumbnail title" minmax(150px, 1fr)
    / 150px minmax(0, 1fr);
}
.photo__title {
  grid-area: title;
  align-self: center;
}
.photo__thumbnail {
  grid-area: thumbnail;
  object-fit: cover;
}

