@import "~src/styles/base";

.photo-detail__container {
  display: grid;
  grid-template-rows: repeat(4, minmax(max-content, max-content));
  align-items: stretch;
}
.photo-detail__owner {
  grid-row: 1;
  align-self: center;
}
.photo-detail__album {
  grid-row: 2;
  align-self: center;
}
.photo-detail__title {
  grid-row: 3;
  align-self: center;
}
.photo-detail__image {
  grid-row: 4;
  align-self: stretch;
  width:100%;
}
