@import "./variables";

.list__container-center {
  padding: $base-padding;
}
.list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: $base-margin;
}
.list__paginator {
  width: $base-width;
}