@import "./variables";

.list__container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  grid-gap: $base-margin;
  align-items: end;
  width: $base-width;
}
.list__paginator {
  width: $base-width;
}